/* body {
    padding: 100px;
}

.triangle {
    width: 0; 
   height: 0; 
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-top: 86.6px solid green;
   position: absolute;
 }
 
 .triangle-1 {
    transform: rotate(60.3deg);
    left: 145px;
    top: 129.9px;
 } */